<div>
  <button type="submit" class="btn btn-primary" (click)="addProject()">Add Project</button>
</div>

<div class="container">
  <h4>PROJECT LIST</h4><br>
  <div class="row">
    <div class="col-8"><input class="form-control" name="searchInput" placeholder="Search PROJECT" #searchInput="ngModel"
        [(ngModel)]="searchText"></div>
        <div class="col-2" > <button class="btn btn-primary" style="margin-left: 0px; margin-top: 0px" (click)="searchText=''">Clear</button></div>
   </div><br>
  <table class="table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>leader name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>    
      <ng-container *ngFor="let Project of ProjectName">
        <tr *ngIf="filterCondition(Project)">
          <td (click)="onselect(Project)">{{Project.name}}</td>
          <td (click)="onselect(Project)">{{Project.leader}}</td>
          <td (click)="onselect(Project)">john@example.com</td>
          <td><input type="button" class="btn btn-primary" id="btn_del" value="delete" (click)="removeInfo(Project)" /></td>
          <td><input type="button" class="btn btn-primary" id="btn_upd" value="update" (click)="updateInfo(Project)" /></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>